html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
    
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }
  
  
  .whole-page {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 4rem 1rem 4rem;
    display: block;
    text-align: center;
    }

  .header {
    flex-direction: column;
    position: fixed;
    width: 100%;
       
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #baffec;
   box-shadow: 0 3px 0 #b4fce8;
    z-index: 1;
  }
  
  .website-logo {
    max-width: 25rem;
    max-height: 6rem;
    margin: auto auto auto auto;
    padding-left: 3rem;
    text-align: center;
  }
  
  
  nav> ul>li {
    list-style: none;
    text-align: center;
    
  }
  
  .nav-list {
    display: flex;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
  
  .nav-list a {
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
    padding: 1rem;
    text-decoration: none;
    color: #000;
    font-family: arial;
    font-weight: bold;
    
  }
  
  .recipes-section {
    margin: auto auto auto auto;
    padding: auto auto auto auto;
    display: flex;
    justify-content: center;
    text-align: center;
   
  }
  
  h1, h2 {
    font: 3rem Georgia, Times New Roman;
    color: #050ccc;
    font-weight: 700;
    display: flex;
    justify-content: center;
  }
  

  .section {
    margin-bottom: 8rem;
    text-align: center;

  }


  .section> p {
    font: #000 Arial, Sans-serif;
    font-size: 1.5rem;
    text-align: center;
    
  }

  #first-section {
    margin-top: 10rem;
  }

  @media and (min-width: 385px), (max-width: 600px) {
    #first-section {
         margin-top: 14rem;
     }
    }
  
  .recipes-grid {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fit, minmax(22.66rem , 1fr));
    grid-gap: 5rem;
    width: 100%;
    max-width: 1280px;
    margin: 3rem auto 3rem auto;
  
     
  }
  
  .recipes-grid > a {
    text-decoration: none;
    justify-content: center;
    text-align: center;
  }
  
  .recipes-image {
    height: 21rem;
    width: 21rem;
    object-fit: cover;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
    border-radius: 50%;
    justify-content: center;
  }
  
    .recipes-title {
        font-size: 1.5rem;
        padding: 1.5rem 0.5rem 1.5rem 0.5rem;
        margin: 1rem auto auto auto;
        max-width: 20rem;
        text-align: center;
        justify-content: center;
        font: 1.5rem Georgia, Times New Roman;
        font-weight: 800;
        color: #000;
        background: #baffec;
        border-radius: 1rem;
  
  }
  
  
  footer {
    background-color: #baffec;
    width: 100%;
    left: 0;
    bottom: 0;
 
}

.footer-logo {
    max-width: 15rem;
}
